<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="./css/manthan.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Register | Manthan</title>
  </head>
  <body>
    <div id="particles"></div>
    <div id="form-section" class="py-5">
      <div class="container">
        <div class="form-container">
          <div class="row no-gutters">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="inner-form-container">
                <form action="/" method="post" class="w-100 p-1">
                  <div class="form-group">
                    <label for="first-name">Name*</label>
                    <input type="text" name="name" id="first-name" class="form-control" placeholder="Elon Musk" required>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="roll-no">Roll No.*</label>
                    <input type="text" name="rollno" id="roll-no" class="form-control" placeholder="CE-4109-2K16" required>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="branch">Branch*</label>
                    <input type="text" name="branch" id="branch" class="form-control" placeholder="CE" required>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="year">Year<sub> *Auditions for first year will be held later*</sub></label>
                    <select class="form-control" name="year" id="year" required>
                      <option class="form-control" value="" disabled selected>-Please Select-</option>
                      <option value="2">Second</option>
                      <option value="3">Third</option>
                    </select>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="manantechnosurge@gmail.com" required>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="phone">Phone*</label>
                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Exactly 10 digits" required>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="hackerearth">HackerEarth Profile</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">hackerearth.com/</div>
                      </div>
                      <input type="text" name="hackerearthprofile" id="hackerearth" class="form-control" placeholder="@princebatra2315">
                    </div>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="codechef">CodeChef Profile</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">codechef.com/users/</div>
                      </div>
                      <input type="text" name="codechefprofile" id="codechef" class="form-control" placeholder="princebatra">
                    </div>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="spoj">Spoj Profile</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">spoj.com/users/</div>
                      </div>
                      <input type="text" name="spojprofile" id="spoj" class="form-control" placeholder="prince_batra">
                    </div>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="github">Open Source Links</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">github.com/</div>
                      </div>
                      <input type="text" name="opensourcelinks" id="github" class="form-control" placeholder="princebatra2315">
                    </div>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="other-profiles">Other Profiles</label>
                    <input type="text" name="otherprofiles" id="other-profiles" class="form-control" placeholder="Linkedin or Medium">
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-group">
                    <label for="projects">Projects</label>
                    <!-- <textarea name="name" rows="8" cols="80"></textarea> -->
                    <textarea rows="4" name="project" id="projects" class="form-control"></textarea>
                    <!-- <span class="incomplete-msg">Please complete this required field.</span> -->
                  </div>

                  <div class="form-check mt-2 custom-control">
                    <input class="form-check-input" name="club" type="checkbox" id="other-club" value="part-of-other-club" style="margin-top: 10px;">
                    <label class="form-check-label" for="other-club">
                      I am also a member of some other club.
                    </label>
                  </div>

                  <button class="btn btn-outline-secondary submit-btn images-btn mt-4" type="submit" name="button">Submit</button>
                </form>
              </div> <!-- /inner-form-container -->
            </div>
          </div>
          <div class="col-md-2"></div>
        </div> <!-- /form-container -->
      </div>
    </div>

    <footer class="py-2">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div class="text-center contact py-3">
              <p>Contact:</p>
              <div class="m-2">
                Prince (9034731981)
              </div>
              <div class="m-2">
                Neha (9711917480)
              </div>
              <div class="m-2">
                Shubham (7840844065)
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center py-3">
              <p>Follow us on:</p>
              <div class="m-2"><a href="https://www.facebook.com/Manan.Ymcaust/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></div>
              <div class="m-2"><a href="https://www.instagram.com/manantechnosurge/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></div>
              <div class="m-2"><a href="http://manantechnosurge.com/" target="_blank"><i class="fas fa-link"></i> Manan Official Website</a></div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <script src="./js/particles.min.js"></script>
    <script src="./js/app.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
