<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="./css/lb_home.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Results | Manthan</title>
  </head>
  <body>
    <div class="py-2">

      <div class="container">
        <div class="manthan-header">
          <div class="manthan2018">
            <!-- <img src="./images/manthan_logo.svg" alt="manthan logo"> -->
            <span class="manthan-span">Man</span>th<span class="manthan-span">an</span> 2018
          </div>
          <div class="leaderboard text-center">
            Results
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="mb-5">
        <div class="row no-gutters">
          <div class="col-md-1"></div>
          <div class="col-md-4 text-center">
            <div class="first p-3 mt-5">
              <div class="year-heading my-2">
                First Year
              </div>
              <div class="rank m5-2">
                #1
              </div>
              <div class="name mt-2">
                Vedant Aggarwal
              </div>
              <div class="year mb-3">
                [1st Year]
              </div>
              <div class="view-result-btn my-3">
                <a class="btn btn-outline-info btn-custom" href="/first">View Result</a>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4 text-center ">
            <div class="second p-3 mt-5">
              <div class="year-heading my-2">
                Second Year
              </div>
              <div class="rank my-2">
                #1
              </div>
              <div class="name mt-2">
                Milind
              </div>
              <div class="year mb-3">
                [2nd Year]
              </div>
              <div class="view-result-btn my-3">
                <a class="btn btn-outline-info btn-custom" href="/second">View Result</a>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>

    <footer class="py-3 mt-3">
      <div class="container-fluid">
        <div class="row no-gutters">
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-3">
            <div class="text-center contact py-3">
              <p class="footer-heading">Contact:</p>
              <div class="m-2 contact">
                Prince (9034731981)
              </div>
              <div class="m-2 contact">
                Neha (9711917480)
              </div>
              <div class="m-2 contact">
                Shubham (7840844065)
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="text-center py-3">
              <p class="footer-heading">Follow us on:</p>
              <div class="m-2"><a href="https://www.facebook.com/Manan.Ymcaust/"><i class="fab fa-facebook"></i> Facebook</a></div>
              <div class="m-2"><a href="https://www.instagram.com/manantechnosurge/"><i class="fab fa-instagram"></i> Instagram</a></div>
              <div class="m-2"><a href="http://manantechnosurge.com/"><i class="fas fa-link"></i> Manan Official Website</a></div>
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </footer>

    <img id="footer-img" src="./images/back_desktop_footer.png" alt="clouds image">
    <img id="footer-img-mobile" src="./images/back_mobile_bottom_footer.png" alt="clouds and mountain image">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
