@font-face {
    font-family: D-DIN;
    src: url("../assets/fonts/d-din/D-DIN.otf") format("opentype");
}
@font-face {
    font-family: D-DINCondensed;
    src: url("../assets/fonts/d-din/D-DINCondensed.otf") format("opentype");
}
@font-face {
    font-family: Helvetica-Light;
    src: url("../assets/fonts/helvetica-light/Helvetica-Light.otf") format("opentype");
}
@font-face {
    font-family: D-DINCondensed-Bold;
    font-weight: bold;
    src: url("../assets/fonts/d-din/D-DINCondensed-Bold.otf") format("opentype");
}

body{
  color: white;
  background-color: #ACE9FE;
}

.manthan2018{
  font-family: D-DINCondensed-Bold;
  font-weight: bold;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.manthan-span{
  color: #3A6E86;
}
.manthan-span2{
  color: white;
}
#home_link{
  text-decoration: none;
}
.leaderboard{
  color: #50809D;
  text-align: left;
  font-family: D-DINCondensed-Bold;
  font-weight: bold;
  font-size: 36px;
}

.first, .second{
  background-color: rgba(80, 166, 218, 0.3);
  border: 1px solid rgb(80, 155, 196);
  border-radius: 10px;
  box-shadow: 8px 8px 30px 2px rgb(80, 155, 196);
  background-image: linear-gradient(141deg, #80D6F4 0%, #99DCF4 75%);
}
.year-heading{
  font-family: D-DINCondensed-Bold;
  font-size: 25px;
  color: #50809D;
}
.rank{
  font-size: 90px;
  font-family: D-DIN;
}
.name{
  font-size: 20px;
  font-family: D-DIN;
}
.year{
  font-size: 18px;
  font-family: D-DIN;
}
.btn-custom{
  color: #50809D;
  border-color: #50809D;
}
.btn-custom:hover{
  color: white;
  background-color: #50809D;
}

footer{
  color: #50809D;
}
footer .footer-heading{
  font-family: D-DINCondensed-Bold;
  font-weight: bold;
  font-size: 22px;
}
footer a{
  color: #50809D;
}
footer a:hover{
  color: #50809D;
  /* text-decoration: none; */
}
footer a:visited{
  color: #50809D;
}
footer a, footer .contact{
  font-family: D-DIN;
  font-size: 16px;
}
#footer-img-mobile{
  display: none;
  pointer-events: none;
  width: 100%;
  /* position: fixed; */
  /* bottom: 0; */
}
#footer-img{
  pointer-events: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.manthan-header{
  text-align: center;
}
.right{
  margin: 0;
}


@media screen and (max-width: 700px){
  .inner-form-container{
    margin: 0;
  }
  .manan{
    margin: 0;
  }
  #footer-img{
    display: none;
  }
  #footer-img-mobile{
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .manan{
    display: none;
  }
  .manthan-header{
    text-align: center;
  }
  .right{
    margin: 0;
  }
}
@media screen and (max-width: 992px) and (min-width: 700px){
  .inner-form-container{
    margin: 0 5rem;
  }
  .manan{
    margin: 0 5rem;
  }
}
@media screen and (min-width: 700px) {
  footer{
    margin-bottom: 10rem !important;
  }
}
